* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto";
}

body {
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  font-family: inherit;
}
