* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.contruction-page {
  display: inline-block;
  background-image: url(../public/images/SITIO-EN-CONSTRUCCION.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-width: 100%;
  min-height: 100vh;
}
